venv/
.venv/
env/
.env


.idea/


db.sqlite3
*.sqlite3


__pycache__/
*.py[cod]


logs.py
*.log
logs/
debug.log


**/migrations/*.py
!**/migrations/__init__.py


gestor_fernauro/media/


staticfiles/
static/
*.pid


celerybeat-schedule
*.celery.pid


.env
*.env
config.env


*.swp
*.swo
*.bak


*.pyc
*.pyo
.DS_Store
